@use '../helpers' as *;

.arrows{
        display: flex;
        gap: rem(40);
        align-self: flex-end;

        button{
            display: block;
            padding: rem(20) rem(28);
        }
        
    }
